# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\poc\test_stm1\test1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
